{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-4">
        <h2>
          Danh sách ticket trong build
          <button type="button" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>

        </h2>
        <p>
          Danh sách chi tiết các ticket trong build
        </p>
      </div>
    </div>
   
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable">
        <thead>
          <tr>
            <th>TicketID</th>
            <th>Category</th>
            <th>MODULE</th>
            <th>Priority</th>
            <th>Status</th>
            <th>AssignedTo</th>
            <th>Title</th>
            <th>Description</th>
            <th>PrimaryDEV</th>
            <th>PrimaryQC</th>
            <th>PrimaryBA</th>
            <th>TicketOwner</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="myTable">
          {% for ticket in tickets %}
          <tr>
            <td>{{ticket.TicketID}}</td>
            <td>{{ticket.Category}}</td>
            <td>{{ticket.MODULE}}</td>
            <td>{{ticket.Priority}}</td>
            <td>{{ticket.Status}}</td>
            <td>{{ticket.AssignedTo}}</td>
            <td>{{ticket.Title}}</td>
            <td>{{ticket.Description}}</td>
            <td>{{ticket.PrimaryDEV}}</td>
            <td>{{ticket.PrimaryQC}}</td>
            <td>{{ticket.PrimaryBA}}</td>
            <td>{{ticket.TicketOwner}}</td>
            <td>
              <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
              <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
