{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-1">Tuần:</label>
                    <div class="col-4">
                        <select class="form-control" id="selectWeek" onchange="getValueWeek()">
                            {% for week in weeks %}
                            <option value="{{week.ID}}" name="{{week.ID}}">{{week.WeekName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-1">TO:</label>
                    <div class="col-3">
                        <select class="form-control" id="selectTeam" onchange="getValueTeam()">
                            {% for team in teams %}
                            <option value="{{team.TeamID}}" name="{{team.TeamID}}">{{team.TeamName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="#" id="filterLink" class="btn btn-primary">Lọc</a>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                      <thead>
                        <tr>
                          <th>TicketID</th>
                          <th>Title</th>
                          <th>PrimaryDEV</th>
                          <th>PrimaryQC</th>
                          <th>ESTDEV</th>
                          <th>ESTQC</th>
                          <th>DeadlineCR</th>
                          <th>DeadlineTO</th>
                          <th>DeadlineQC</th>
                          <th>DoOrNot</th>
                          <th>Note</th>
                          <th>ClientName</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody id="myTable">
                        {% for lw in listWeeks %}
                        <tr>
                          <td>{{lw.TictketID}}</td>
                          <td>{{lw.Title|truncatechars:50}}</td>
                          <td>{{lw.PrimaryDEV}}</td>
                          <td>{{lw.PrimaryQC}}</td>
                          <td>{{lw.ESTDEV}}</td>
                          <td>{{lw.ESTQC}}</td>
                          <td>{{lw.DeadlineCR}}</td>
                          <td>{{lw.DeadlineTO}}</td>
                          <td>{{lw.DeadlineQC}}</td>
                          <td>{{lw.DoOrNot}}</td>
                          <td>{{lw.Note}}</td>
                          <td>{{lw.ClientName}}</td>
                          <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("filterLink").addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn sự kiện mặc định của thẻ a

        var selectWeek = document.getElementById("selectWeek");
        var selectTeam = document.getElementById("selectTeam");

        var weekid = selectWeek.value;
        var teamid = selectTeam.value;

        var url = "{% url 'ticketWeekList' 0 0 %}"; // Thay đổi 0 0 thành giá trị mặc định nếu cần thiết
        url = url.replace("0", weekid);
        url = url.replace("0", teamid);

        url = decodeURIComponent(url); // Giải mã URL

        url = url.replace(/&amp;/g, '&'); // Thay thế tất cả &amp; thành &

        window.location.href = url;
    });
</script>
{% endblock %}

