{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-4">
        <h2>
          Danh sách Client
        </h2>
        <p>
          Danh sách Client phần mềm của công ty
        </p>
      </div>
    </div>
   
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable">
        <thead>
          <tr>
            <th>ID_main</th>
            <th>Code</th>
            <th>Name</th>
            <th>WebServiceURL</th>
            <th>Logo</th>
            <th>Status</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="myTable">
          {% for cli in clients_db %}
          <tr>
            <td>{{cli.ID_main}}</td>
            <td>{{cli.Code}}</td>
            <td>{{cli.Name}}</td>
            <td>{{cli.WebServiceURL}}</td>
            <td>{{cli.Logo}}</td>
            <td>{{cli.Status}}</td>
            <td>{{cli.ActiveYN}}</td>
            <td>
              <a type="button" class="btn btn-primary" href="{% url 'clientEdit' cli.id %}"><i class="far fa-eye"></i></a>
              <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
