{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h2>Danh sách khách hàng</h2>
    <p>
      Danh sách khách hàng đang sử dụng phần mềm của công ty và những khách hàng đang trong quá trình phát triển
    </p>
    <input
      class="form-control"
      id="myInput"
      type="text"
      placeholder="Search.."
    />
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@mail.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@greatstuff.com</td>
          </tr>
          <tr>
            <td>Anja</td>
            <td>Ravendale</td>
            <td>a_r@test.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock %}
